<footer class="text-center text-white">
  
  <div class="footer-top py-5">
    <div class="container">
      <div class="row g-4">
        
        <div class="col-md-4">
          <h3 class="text-uppercase fw-bold mb-3">LOCATION</h3>
          <p class="mb-1">Egypt, Assiut</p>
          <p>El Badari</p>
        </div>

   
        <div class="col-md-4">
          <h3 class="text-uppercase fw-bold mb-3">AROUND THE WEB</h3>
          <div class="icons d-flex justify-content-center gap-2">
            <!-- Facebook -->
            <a href="https://www.facebook.com/share/1BXHLC5EDU/" target="_blank" class="icon-shape">
              <i class="fa-brands fa-facebook"></i>
            </a>
            
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/mohamed-ahmed73" target="_blank" class="icon-shape">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>

            <!-- GitHub -->
            <a href="https://github.com/Mohamed-Ahmed-devhub" target="_blank" class="icon-shape">
              <i class="fa-brands fa-github"></i>
            </a>

            <!-- WhatsApp -->
            <a href="https://wa.me/201005121073" target="_blank" class="icon-shape">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>
        </div>

        <div class="col-md-4">
          <h3 class="text-uppercase fw-bold mb-3">ABOUT FREELANCER</h3>
          <p>Frontend Developer specializing in Angular & modern web applications.</p>
        </div>
      </div>
    </div>
  </div>

 
  <div class="footer-bottom py-3">
    <p class="mb-0">Copyright © Mohamed Ahmed 2026</p>
  </div>
</footer>