<section class="home-section d-flex justify-content-center align-content-center align-items-center text-white text-center">
  <div class="container">
    <!-- الصورة الشخصية / الأفاتار -->
    <div class="avatar-box mb-4">
      <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" alt="Mohamed Profile" class="profile-img">
    </div>


    <h1 class="text-uppercase fw-bold fs-1 mb-3">MOHAMED AHMED</h1>
    <!-- النص في سطر واحد -->
<p class="fs-5 text-slate mt-2">
  Frontend Developer | CS Student | Angular Explorer | {{ experienceYears }} Years of Experience
</p>

<!-- النجمة والخطين تحت النص -->
<div class="star-divider d-flex align-items-center justify-content-center gap-3 my-3">
  <div class="line"></div>
  <i class="fa-solid fa-star fs-5 text-info"></i>
  <div class="line"></div>
</div>
  </div>
</section>