<section class="home-section d-flex justify-content-center align-content-center align-items-center text-white text-center">
  <div class="container">
    <!-- الصورة الشخصية / الأفاتار -->
    <div class="avatar-box mb-4">
      <img src="https://routeegy.github.io/startFramework/assets/images/avataaars.svg" alt="Mohamed Profile" class="profile-img">
    </div>


    <h1 class="text-uppercase fw-bold fs-1 mb-3">MOHAMED AHMED</h1>
    
  
    <div class="star-divider d-flex align-items-center justify-content-center gap-3 my-3">
      <div class="line"></div>
      <i class="fa-solid fa-star fs-5"></i>
      <div class="line"></div>
    </div>

  
    <p class="fs-5 text-light opacity-75">Frontend Developer | CS Student | Angular Explorer</p>
  </div>
</section>